* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2129 {
  width: 100%;
  height: 1972px;
  background: rgba(15,12,72,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_2158 {
  width: 100%;
  height: 164px;
  background: url("../images/v1_2158.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_2159 {
  width: 390px;
  height: 52px;
  background: url("../images/v1_2159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 914px;
  overflow: hidden;
}
.v1_2160 {
  width: 49px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_2161 {
  width: 49px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 97px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_2162 {
  width: 49px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 194px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_2163 {
  width: 99px;
  height: 52px;
  background: url("../images/v1_2163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 291px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v1_2164 {
  width: 51px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2165 {
  width: 95px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 67px;
  left: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v11_2 {
  width: 100%;
  height: 164px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_3 {
  width: 500px;
  height: 70px;
  background: url("../images/v11_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 821px;
  overflow: hidden;
}
.v11_4 {
  text-decoration: none;
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v11_5 {
  text-decoration: none;
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 115px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v11_6 {
  text-decoration: none;
  width: 86px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 263px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v11_7 {
  width: 86px;
  height: 52px;
  background: rgba(0,0,0,1);
  padding: 14px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: -9px;
  left: 397px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v11_8 {
  width: 38px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v23_455 {
  width: 110px;
  height: 134px;
  background: url("../images/v23_455.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 23px;
  overflow: hidden;
}
.v1_2166 {
  width: 100%;
  height: 307px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1616px;
  left: 5px;
  overflow: hidden;
}
.v1_2167 {
  width: 187px;
  height: 168px;
  background: url("../images/v1_2167.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 703px;
  overflow: hidden;
}
.v1_2168 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2169 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2170 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2171 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2172 {
  width: 187px;
  height: 168px;
  background: url("../images/v1_2172.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 914px;
  overflow: hidden;
}
.v1_2173 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2174 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2175 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2176 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2177 {
  width: 187px;
  height: 168px;
  background: url("../images/v1_2177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 1124px;
  overflow: hidden;
}
.v1_2178 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2179 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2180 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2181 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2182 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 52px;
  left: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_2183 {
  width: 184px;
  height: 40px;
  background: url("../images/v1_2183.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 176px;
  left: 80px;
  overflow: hidden;
}
.v1_2184 {
  width: 40px;
  height: 40px;
  background: url("../images/v1_2184.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v1_2185 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_2189 {
  width: 40px;
  height: 40px;
  background: url("../images/v1_2189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v1_2190 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_2194 {
  width: 40px;
  height: 40px;
  background: url("../images/v1_2194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v1_2195 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_2199 {
  width: 40px;
  height: 40px;
  background: url("../images/v1_2199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v1_2200 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v9_158 {
  width: 100%;
  height: 264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  overflow: hidden;
}
.v9_159 {
  width: 187px;
  height: 168px;
  background: url("../images/v9_159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 703px;
  overflow: hidden;
}
.v9_160 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_161 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_162 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_163 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_164 {
  width: 187px;
  height: 168px;
  background: url("../images/v9_164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 914px;
  overflow: hidden;
}
.v9_165 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_166 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_167 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_168 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_169 {
  width: 187px;
  height: 168px;
  background: url("../images/v9_169.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 1124px;
  overflow: hidden;
}
.v9_170 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_171 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_172 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_173 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_174 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 52px;
  left: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_175 {
  width: 184px;
  height: 40px;
  background: url("../images/v9_175.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 176px;
  left: 80px;
  overflow: hidden;
}
.v9_176 {
  width: 40px;
  height: 40px;
  background: url("../images/v9_176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_177 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v9_181 {
  width: 40px;
  height: 40px;
  background: url("../images/v9_181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_182 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v9_186 {
  width: 40px;
  height: 40px;
  background: url("../images/v9_186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_187 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v9_191 {
  width: 40px;
  height: 40px;
  background: url("../images/v9_191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_192 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v9_197 {
  width: 100%;
  height: 305px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 0px;
  overflow: hidden;
}
.v9_198 {
  width: 371px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 61px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v9_199 {
  width: 136px;
  height: 40px;
  background: url("../images/v9_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 945px;
  overflow: hidden;
}
.v9_200 {
  width: 40px;
  height: 40px;
  background: url("../images/v9_200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_201 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v9_202 {
  width: 40px;
  height: 40px;
  background: url("../images/v9_202.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_203 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v9_207 {
  width: 40px;
  height: 40px;
  background: url("../images/v9_207.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_208 {
  width: 86px;
  height: 98px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 40px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v9_212 {
  width: 58px;
  height: 40px;
  background: url("../images/v9_212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 1189px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_213 {
  width: 96px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v11_34 {
  width: 704px;
  height: 173px;
  background: url("../images/v11_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 291px;
  overflow: hidden;
}
.v11_35 {
  width: 704px;
  color: rgba(0,255,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v11_36 {
  width: 802px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 101px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v10_22 {
    width: 737px;
    height: 40px;
    background: rgba(217, 217, 217, 1);
    opacity: 1;
    position: absolute;
    top: 550px;
    left: 289px;
    overflow: hidden;
}
.v11_41 {
  width: 515px;
  color: rgba(255, 148, 0, 1);
  position: absolute;
  top: 770px;
  left: 210px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Semi Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v11_76 {
  width: 143px;
  height: 134px;
  background: url("../images/v11_76.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 970px;
  left: 710px;
  overflow: hidden;
}
.v10_27 {
  width: 143px;
  height: 134px;
  background: url("../images/v10_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 770px;
  left: 710px;
  overflow: hidden;
}
.v10_35 {
  width: 143px;
  height: 134px;
  background: url("../images/v10_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1370px;
  left: 710px;
  overflow: hidden;
}
.v10_33 {
  width: 143px;
  height: 134px;
  background: url("../images/v10_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 770px;
  left: 60px;
  overflow: hidden;
}
.v10_31 {
  width: 143px;
  height: 134px;
  background: url("../images/v10_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1170px;
  left: 710px;
  overflow: hidden;
}
.v10_29 {
  width: 143px;
  height: 134px;
  background: url("../images/v10_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1370px;
  left: 60px;
  overflow: hidden;
}
.v11_78 {
  width: 515px;
  color: rgba(255, 148, 0, 1);
  position: absolute;
  top: 770px;
  left: 860px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Semi Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v11_55 {
  width: 125px;
  height: 60px;
  background: rgba(0, 0, 0, 1);
  padding: 12px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 535px;
  left: 1060px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v11_56 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v10_37 {
  width: 125px;
  height: 60px;
  background: rgba(0,0,0,1);
  padding: 12px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1529px;
  left: 1200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v10_38 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v10_24 {
  width: 90px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 555px;
  left: 303px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_80 {
  width: 143px;
  height: 134px;
  background: url("../images/v11_80.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 970px;
  left: 60px;
  overflow: hidden;
}
.v11_372 {
  width: 515px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 860px;
  left: 215px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_373 {
  width: 507px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 828px;
  left: 217px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_82 {
  width: 515px;
  color: rgba(255, 148, 0, 1);
  position: absolute;
  top: 970px;
  left: 210px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Semi Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v11_84 {
  width: 143px;
  height: 134px;
  background: url("../images/v11_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1170px;
  left: 60px;
  overflow: hidden;
}
.v11_378 {
  width: 507px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1084px;
  left: 222px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_379 {
  width: 507px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1039px;
  left: 222px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_86 {
  width: 515px;
  color: rgba(255, 148, 0, 1);
  position: absolute;
  top: 1170px;
  left: 210px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Semi Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v11_88 {
  width: 507px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 871px;
  left: 217px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_90 {
    width: 510px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 825px;
    left: 215px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v11_375 {
  width: 507px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1084px;
  left: 222px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_376 {
  width: 507px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1039px;
  left: 222px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_381 {
  width: 507px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1060px;
  left: 215px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_382 {
  width: 507px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1025px;
  left: 215px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_384 {
  width: 507px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1260px;
  left: 215px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_385 {
  width: 507px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1225px;
  left: 215px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_387 {
  width: 515px;
  color: rgba(255, 148, 0, 1);
  position: absolute;
  top: 1370px;
  left: 210px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Semi Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v11_388 {
  width: 507px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1460px;
  left: 215px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_389 {
  width: 507px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1425px;
  left: 215px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_391 {
  width: 507px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 860px;
  left: 865px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_392 {
  width: 507px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 825px;
  left: 865px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_394 {
  width: 515px;
  color: rgba(255, 148, 0, 1);
  position: absolute;
  top: 970px;
  left: 860px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Semi Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v11_395 {
  width: 507px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1060px;
  left: 865px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_396 {
  width: 507px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1025px;
  left: 865px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_398 {
  width: 515px;
  color: rgba(255, 148, 0, 1);
  position: absolute;
  top: 1170px;
  left: 860px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Semi Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v11_399 {
  width: 507px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1260px;
  left: 865px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_400 {
  width: 507px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1225px;
  left: 865px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_402 {
  width: 515px;
  color: rgba(255, 148, 0, 1);
  position: absolute;
  top: 1370px;
  left: 860px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Semi Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v11_403 {
  width: 507px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1460px;
  left: 865px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v11_404 {
  width: 507px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1425px;
  left: 865px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v22_223 {
  width: 371px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 61px;
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}

.v22_1011 {
  width: 100%;
  height: 294px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 1618px;
  left: 0px;
  overflow: hidden;
}

.v22_145 {
  width: 117px;
  height: 130px;
  background: url("../images/IG.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 970px;
  overflow: hidden;
}

.v22_150 {
  width: 105px;
  height: 120px;
  background: url("../images/YT.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 1130px;
  overflow: hidden;
}

.v22_155 {
  width: 121px;
  height: 112px;
  background: url("../images/LD.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 1255px;
  overflow: hidden;
}

.vFB {
  width: 141px;
  height: 125px;
  background: url("../images/FB.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 1370px;
  overflow: hidden;
}