* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_1981 {
  width: 100%;
  height: 1860px;
  background: rgba(15,12,72,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1983 {
  width: 624px;
  height: 461px;
  background: url("../images/v1_1983.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 80px;
  overflow: hidden;
}
.v1_1984 {
  width: 624px;
  color: rgba(0,255,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v1_1985 {
  width: 624px;
  color: rgba(255,148,0,1);
  position: absolute;
  top: 101px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1986 {
  width: 624px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 161px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1987 {
  width: 100%;
  height: 164px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1988 {
  width: 700px;
  height: 60px;
  background: url("../images/v1_1988.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 843px;
  overflow: hidden;
}
.v1_1989 {
  text-decoration: none;
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1990 {
  text-decoration: none;
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 115px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1991 {
  text-decoration: none;
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 283px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v99_1991 {
  text-decoration: none;
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 417px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1992 {
  width: 86px;
  height: 52px;
  background: rgba(0,0,0,1);
  padding: 14px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: -10px;
  left: 515px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v1_1993 {
  width: 38px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v23_449 {
  width: 110px;
  height: 134px;
  background: url("../images/v23_449.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 25px;
  overflow: hidden;
}
.v1_1995 {
  width: 100%;
  height: 290px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1520px;
  left: 0px;
  overflow: hidden;
}
.v1_2011 {
  width: 345px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v1_2012 {
  width: 136px;
  height: 40px;
  background: url("../images/v1_2012.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 835px;
  overflow: hidden;
}
.v1_2013 {
  width: 40px;
  height: 40px;
  background: url("../images/v1_2013.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v1_2014 {
  width: 76px;
  height: 77px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 47px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_2018 {
  width: 40px;
  height: 40px;
  background: url("../images/v1_2018.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v1_2019 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_2028 {
  width: 40px;
  height: 40px;
  background: url("../images/v1_2028.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v1_2029 {
  width: 105px;
  height: 103px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 1266px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_2023 {
  width: 80px;
  height: 40px;
  background: url("../images/v1_2023.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 1037px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v1_2024 {
  width: 80px;
  height: 95px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_2027 {
  width: 103px;
  height: 82px;
  background: rgba(130,130,130,1);
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 1136px;
}
.name {
  color: #fff;
}
.v1_2034 {
  width: 660px;
  height: 502px;
  background: url("../images/v1_2034.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 925px;
  left: 80px;
  overflow: hidden;
}
.v1_2035 {
  width: 295px;
  height: 80px;
  background: url("../images/v1_2035.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_2036 {
  width: 295px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2037 {
  width: 295px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v1_2038 {
  width: 263px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2039 {
  width: 297px;
  height: 80px;
  background: url("../images/v1_2039.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 327px;
  overflow: hidden;
}
.v1_2040 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2041 {
  width: 297px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v1_2042 {
  width: 265px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2043 {
  width: 626px;
  height: 80px;
  background: url("../images/v1_2043.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  overflow: hidden;
}
.v1_2044 {
  width: 626px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2045 {
  width: 626px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v1_2046 {
  width: 594px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2047 {
  width: 626px;
  height: 194px;
  background: url("../images/v1_2047.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 0px;
  overflow: hidden;
}
.v1_2048 {
  width: 626px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2049 {
  width: 626px;
  height: 162px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v1_2050 {
  width: 594px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_2051 {
  width: 626px;
  height: 62px;
  background: rgba(0,0,0,1);
  padding: 16px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 426px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v1_2052 {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 279px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_2053 {
  width: 624px;
  height: 48px;
  background: url("../images/v1_2053.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 845px;
  left: 80px;
  overflow: hidden;
}
.v1_2054 {
  width: 624px;
  color: rgba(0,255,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v4_3 {
  width: 612px;
  height: 408px;
  background: url("../images/v4_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 345px;
  left: 786px;
  overflow: hidden;
}

.v22_223 {
  width: 371px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 61px;
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}

.v22_1011 {
  width: 100%;
  height: 294px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 1520px;
  left: 0px;
  overflow: hidden;
}

.v22_145 {
  width: 117px;
  height: 130px;
  background: url("../images/IG.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 970px;
  overflow: hidden;
}

.v22_150 {
  width: 105px;
  height: 120px;
  background: url("../images/YT.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 1130px;
  overflow: hidden;
}

.v22_155 {
  width: 121px;
  height: 112px;
  background: url("../images/LD.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 1255px;
  overflow: hidden;
}

.vFB {
  width: 141px;
  height: 125px;
  background: url("../images/FB.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 1370px;
  overflow: hidden;
}
