* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_1886 {
  width: 100%;
  height: 2167px;
  background: rgba(15,12,72,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1887 {
  width: 765px;
  color: rgba(0, 255, 0, 1);
  position: absolute;
  top: 857px;
  left: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v1_1888 {
  width: 515px;
  height: 348px;
  background: url("../images/v1_1888.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 845px;
  overflow: hidden;
}
.v1_1889 {
  width: 515px;
  color: rgba(255,148,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Semi Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v1_1890 {
  width: 20px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 72px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1891 {
  width: 515px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 312px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1893 {
  width: 515px;
  height: 52px;
  background: rgba(0,0,0,1);
  padding: 14px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 853px;
  left: 845px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v1_1894 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 220px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_5 {
  width: 135px;
  height: 52px;
  background: rgba(0, 0, 0, 1);
  padding: 14px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 1190px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v22_6 {
  width: 81px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 16px;
  left: 33px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_339 {
  width: 151px;
  height: 50px;
  background: rgba(0,0,0,1);
  padding: 14px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 662px;
  left: 330px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v22_340 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 26px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_1897 {
  width: 100%;
  height: 164px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1898 {
  width: 763px;
  height: 52px;
  background: url("../images/v1_1898.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 557px;
  overflow: hidden;
}
.v1_1899 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1900 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 262px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1901 {
  width: 86px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 430px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1902 {
  width: 99px;
  height: 52px;
  background: rgba(0, 0, 0, 1);
  padding: 14px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: -10px;
  left: 564px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v1_1903 {
  width: 51px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v23_447 {
  width: 136px;
  height: 125px;
  background: url("../images/v23_447.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 28px;
  overflow: hidden;
}
.v9_94 {
  width: 100%;
  height: 264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1846px;
  left: 0px;
  overflow: hidden;
}
.v9_95 {
  width: 187px;
  height: 168px;
  background: url("../images/v9_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 736px;
  overflow: hidden;
}
.v9_96 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_97 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_98 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_99 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_100 {
  width: 187px;
  height: 168px;
  background: url("../images/v9_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 955px;
  overflow: hidden;
}
.v9_101 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_102 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_103 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_104 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_105 {
  width: 187px;
  height: 168px;
  background: url("../images/v9_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 1173px;
  overflow: hidden;
}
.v9_106 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_107 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_108 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_109 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_110 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 52px;
  left: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_111 {
  width: 184px;
  height: 40px;
  background: url("../images/v9_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 176px;
  left: 80px;
  overflow: hidden;
}
.v9_112 {
  width: 40px;
  height: 40px;
  background: url("../images/v9_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_113 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v9_117 {
  width: 40px;
  height: 40px;
  background: url("../images/v9_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_118 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v9_122 {
  width: 40px;
  height: 40px;
  background: url("../images/v9_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_123 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v9_127 {
  width: 40px;
  height: 40px;
  background: url("../images/v9_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_128 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v9_133 {
  width: 100%;
  height: 264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_134 {
  width: 414px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 100px;
  left: 61px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v9_135 {
  width: 136px;
  height: 40px;
  background: url("../images/v9_135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 978px;
  overflow: hidden;
}
.v9_136 {
  width: 40px;
  height: 40px;
  background: url("../images/v9_136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_137 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v9_138 {
  width: 40px;
  height: 40px;
  background: url("../images/v9_138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_139 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v9_143 {
  width: 40px;
  height: 40px;
  background: url("../images/v9_143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_144 {
  width: 86px;
  height: 98px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 40px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v9_148 {
  width: 58px;
  height: 40px;
  background: url("../images/v9_148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 1230px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v9_149 {
  width: 96px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_1944 {
  width: 100%;
  height: 864px;
  background: url("../images/v1_1944.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 937px;
  left: 0px;
  overflow: hidden;
}
.v1_1945 {
  width: 404px;
  height: 366px;
  background: url("../images/v1_1945.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1946 {
  width: 404px;
  height: 238px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_3 {
  width: 540px;
  height: 315px;
  background: url("../images/v10_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: -65px;
  overflow: hidden;
}
.v1_1947 {
  width: 404px;
  height: 104px;
  background: url("../images/v1_1947.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 0px;
  overflow: hidden;
}
.v1_1948 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1949 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1950 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 74px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1951 {
  width: 404px;
  height: 366px;
  background: url("../images/v1_1951.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 439px;
  overflow: hidden;
}
.v1_1952 {
  width: 404px;
  height: 238px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_6 {
  width: 404px;
  height: 238px;
  background: url("../images/v10_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1953 {
  width: 404px;
  height: 104px;
  background: url("../images/v1_1953.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 0px;
  overflow: hidden;
}
.v1_1954 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1955 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1956 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 74px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1957 {
  width: 404px;
  height: 366px;
  background: url("../images/v1_1957.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 878px;
  overflow: hidden;
}
.v1_1958 {
  width: 404px;
  height: 238px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_9 {
  width: 404px;
  height: 238px;
  background: url("../images/v10_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1959 {
  width: 404px;
  height: 104px;
  background: url("../images/v1_1959.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 0px;
  overflow: hidden;
}
.v1_1960 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1961 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1962 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 74px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1963 {
  width: 404px;
  height: 366px;
  background: url("../images/v1_1963.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 398px;
  left: 0px;
  overflow: hidden;
}
.v1_1964 {
  width: 404px;
  height: 238px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_12 {
  width: 404px;
  height: 238px;
  background: url("../images/v10_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1965 {
  width: 404px;
  height: 104px;
  background: url("../images/v1_1965.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 0px;
  overflow: hidden;
}
.v1_1966 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1967 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1968 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 74px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1969 {
  width: 404px;
  height: 366px;
  background: url("../images/v1_1969.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 398px;
  left: 439px;
  overflow: hidden;
}
.v1_1970 {
  width: 404px;
  height: 238px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_15 {
  width: 404px;
  height: 238px;
  background: url("../images/v10_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1971 {
  width: 404px;
  height: 104px;
  background: url("../images/v1_1971.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 0px;
  overflow: hidden;
}
.v1_1972 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1973 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1974 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 74px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1975 {
  width: 404px;
  height: 366px;
  background: url("../images/v1_1975.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 398px;
  left: 878px;
  overflow: hidden;
}
.v1_1976 {
  width: 404px;
  height: 238px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v10_18 {
  width: 404px;
  height: 238px;
  background: url("../images/v10_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1977 {
  width: 404px;
  height: 104px;
  background: url("../images/v1_1977.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 0px;
  overflow: hidden;
}
.v1_1978 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1979 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_1980 {
  width: 404px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 74px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v9_28 {
  width: 433px;
  height: 369px;
  background: url("../images/v9_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 189px;
  overflow: hidden;
}

.v22_223 {
  width: 371px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 61px;
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}

.v22_1011 {
  width: 100%;
  height: 294px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 1830px;
  left: 0px;
  overflow: hidden;
}

.v22_145 {
  width: 117px;
  height: 130px;
  background: url("../images/IG.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 970px;
  overflow: hidden;
}

.v22_150 {
  width: 105px;
  height: 120px;
  background: url("../images/YT.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 1130px;
  overflow: hidden;
}

.v22_155 {
  width: 121px;
  height: 112px;
  background: url("../images/LD.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 1255px;
  overflow: hidden;
}

.vFB {
  width: 141px;
  height: 125px;
  background: url("../images/FB.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 1370px;
  overflow: hidden;
}

.v22_143 {
  width: 38px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: -3px;
  left: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-weight: Medium; */
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

.v22_138 {
  width: 650px;
  height: 84px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 1188px;
  overflow: hidden;
}
.v22_139 {
  text-decoration: none;
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v22_139_140 {
  text-decoration: none;
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 145px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v22_140 {
  text-decoration: none;
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 262px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v22_141 {
  text-decoration: none;
  width: auto;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 430px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v22_142 {
  width: 86px;
  height: 53px;
  background: rgba(0,0,0,1);
  padding: 14px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: -9px;
  left: 529px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}

.v22_129 {
  width: 100%;
  height: 164px;
  background: url("");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v22_137 {
  width: 100%;
  height: 164px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v23_451 {
  width: 110px;
  height: 134px;
  background: url("../images/v23_447.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 25px;
  overflow: hidden;
}